// Specific CSS for your home-page
#tsparticles {
  position: relative;
  width: 100%;
  height: 500px;
  background-color: #09015f;
  background-repeat: no-repeat;
  background-size: cover;
}

.home {
  .title {
    position: absolute;
    top: 150px;
    left: 120px;
    color: white;
    h1 {
      font-family: 'Michroma', sans-serif;
      letter-spacing: 1px;
      font-size: 50px;
      margin-bottom: 11px;
    }
    h2 {
      font-family: 'Michroma', sans-serif;
      letter-spacing: 1px;
    }
  }
}

