.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}


.navbar-one {
  .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }
  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    position: absolute;
    z-index: 5000;
    width: 97%;
    background: transparent !important;
    margin-left: 30px;
    margin-right: 30px;
  }
  a {
    color: white !important;
  }
  img {
    width: 55px;
  }
  .nav-button {
    position: absolute;
    right: 37px;
    background-color: black;
    border: 2px solid #FF4848;
    color: white;
    padding: 5px 26px;
    border-radius: 22px;
    transition: 0.5s;
    &:hover {
      transition: 0.5s;
      background-color: #FF4848;
    }
  }
}
